.footerMain{
    display: none;
}

hr{
    grid-column: 1/5;
    width: 95%;
    margin: 1em 0;
}

.footerItems {
    list-style: none;
}

@media screen and (min-width: 500px) {
    .footerMain{
        display: grid;
        height: 40%;
        justify-items: center;
    }
}