.sectionInfo {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.novo{
    color: rgb(234, 29, 44) ;
    font-size: 10px;
    text-align: center;
}
.sectionInfo div {
    padding: 5px;
}

@media screen and (min-width: 700px) {
    .sectionInfo {
        display: flex;
        justify-content: center;
        width: auto;
        height:auto ;
    }
    .sectionInfo::-webkit-scrollbar {
        width: 0;
    }

}