.title {
    margin: 10px 10px 10px 10px;
}

.restaurants {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
}

.container {
    display: flex;
    width: 80%;
    border: 1.5px solid rgb(206, 206, 206);
    border-radius: 10px;
    margin: 5px;

}
.img {
    width: 20%;
    margin-right: 20px;
}

.list {
    list-style: none;
}

@media screen and (min-width: 500px) {
    .restaurants {
        /* display: flex;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(3, 25%);
        margin: 10px 10px 10px 10px;

    } 
    .container {
        display: flex;
        border-radius: 10px;
        margin: 5px;
    }

}

